<!-- <div class="formBoxCenter">
    <div class="formBoxLogoCon">
        <img src="assets/images/logoForm.png">
    </div>
    <div class="formBoxCon">
        <form #fform="ngForm" [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <mat-label>Email Id / Mobile Number<span class="mandatory-star">*</span></mat-label>
                        <mat-form-field class="form-control-mat" floatLabel="never">
                            <input type="email" matInput formControlName="loginId" placeholder='Enter Email Id '>
                            <mat-error>
                                <app-error-message [errors]="f.loginId.errors" [submitted]="fform.submitted"
                                    [touched]="f.loginId.touched" [required]="errorMessage.mandatory" [maxlength]="errorMessage.maxlengthHundred"
                                    [pattern]="errorMessage.patternLoginId">
                                </app-error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                
                <div class="col-sm-12">
                    <div class="form-group mb-0">
                        <div class="btnCon text-center" >
                            <button type="submit" mat-raised-button color="primary" *blockUI="'forgotPasswordBtnBlockUI'">Send Reset Link</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt-3">
                    <div class="form-group">
                        <div class="formLinkText"><a [routerLink]="['/' + appUrl.USER + '/' + appUrl.LOGIN]">Back to Login</a></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> -->
<video autoplay muted loop id="myVideo" preload="auto" onloadedmetadata="this.muted=true">
    <source src="assets/video.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video>
  
<div class="formBoxCenter mt-5 content">
    <div class="formBoxLogoCon">
        <img src="assets/logo.png">
    </div>
    <div class="formBoxCon">
        <form #fform="ngForm" [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()">
            <div class="row">                            
                <div class="col-sm-12">
                    <div class="form-group">
                        
                        <mat-label>Email Id<span class="mandatory-star">*</span></mat-label>
                        <mat-form-field class="form-control-mat" floatLabel="never">
                            <input type="email" matInput formControlName="loginId" placeholder='Enter Email Id '>
                            <mat-error>
                                <app-error-message [errors]="f.loginId.errors" [submitted]="fform.submitted"
                                    [touched]="f.loginId.touched" [required]="errorMessage.mandatory" [maxlength]="errorMessage.maxlengthHundred"
                                    [pattern]="errorMessage.patternLoginId">
                                </app-error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                
                <div class="col-sm-12">
                    <div class="form-group mb-0">
                        <div class="btnCon text-center" >
                            <button type="submit" mat-raised-button color="primary" *blockUI="'forgotPasswordBtnBlockUI'">Send Reset Link</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt-3">
                    <div class="form-group">
                        <div class="formLinkText"><a [routerLink]="['/' + appUrl.USER + '/' + appUrl.LOGIN]">Back to Login</a></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>