<!-- <div class="formBoxCenter"  *blockUI="'sectionBlockUI'">
    <div class="formBoxLogoCon">
        <img src="assets/images/logoForm.png">
    </div>
    <div class="formBoxCon">
        <form #fform="ngForm" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmit()" >
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <mat-label>Password <sup>*</sup></mat-label>
                        <mat-form-field class="form-control-mat" floatLabel="never">    
                            <a href="javascript:void(0)" (click)="hideNewPassword = !hideNewPassword" class="showPassword">
                                <i class="fa fa-eye-slash" *ngIf="!hideNewPassword" aria-hidden="true"></i>
                                <i class="fa fa-eye" *ngIf="hideNewPassword" aria-hidden="true"></i>                                                                                        
                            </a>  
                            <input [type]="hideNewPassword ? 'text' : 'password'" type="password" matInput formControlName="password"
                                placeholder='Enter Password'>
                            <mat-error>
                                <app-error-message [errors]="f.password.errors" [submitted]="fform.submitted"
                                    [touched]="f.password.touched" [required]="errorMessage.mandatory" >
                                </app-error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <mat-label>Confirm Password <sup>*</sup></mat-label>
                        <mat-form-field class="form-control-mat" floatLabel="never">
                            <a href="javascript:void(0)" (click)="hideConfirmPassword = !hideConfirmPassword" class="showPassword">
                                <i class="fa fa-eye-slash" *ngIf="!hideConfirmPassword" aria-hidden="true"></i>
                                <i class="fa fa-eye" *ngIf="hideConfirmPassword" aria-hidden="true"></i>                                                                                        
                            </a>
                            <input [type]="hideConfirmPassword ? 'text' : 'password'" type="password" matInput formControlName="confirmPassword"
                                placeholder='Enter Confirm Password'>
                            <mat-error>
                                <app-error-message [errors]="f.confirmPassword.errors" [submitted]="fform.submitted"
                                    [touched]="f.confirmPassword.touched" [required]="errorMessage.mandatory" >
                                </app-error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="formLinkText"><a [routerLink]="['/'+ appUrl.HOME]">Back to Login</a></div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group mb-0" *blockUI="'resetPasswordBtnBlockUI'" >
                        <div class="btnCon text-center">
                            <button type="submit"  mat-raised-button class="btn">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
 -->

 <video autoplay muted loop id="myVideo" preload="auto" onloadedmetadata="this.muted=true">
    <source src="assets/video.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video>
  
<div class="formBoxCenter mt-5 content">
    <div class="formBoxLogoCon">
        <img src="assets/logo.png">
    </div>
    <div class="formBoxCon">
        <form #fform="ngForm" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmit()" >
            <div class="row">                            
                <div class="col-sm-12">
                    <div class="form-group">
                        <mat-label>Password <sup>*</sup></mat-label>
                        <mat-form-field class="form-control-mat" floatLabel="never">    
                            <a href="javascript:void(0)" (click)="hideNewPassword = !hideNewPassword" class="showPassword">
                                <i class="fa fa-eye-slash" *ngIf="!hideNewPassword" aria-hidden="true"></i>
                                <i class="fa fa-eye" *ngIf="hideNewPassword" aria-hidden="true"></i>                                                                                        
                            </a>  
                            <input [type]="hideNewPassword ? 'text' : 'password'" type="password" matInput formControlName="password"
                                placeholder='Enter Password'>
                            <mat-error>
                                <app-error-message [errors]="f.password.errors" [submitted]="fform.submitted"
                                    [touched]="f.password.touched" [required]="errorMessage.mandatory" >
                                </app-error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <mat-label>Confirm Password <sup>*</sup></mat-label>
                        <mat-form-field class="form-control-mat" floatLabel="never">
                            <a href="javascript:void(0)" (click)="hideConfirmPassword = !hideConfirmPassword" class="showPassword">
                                <i class="fa fa-eye-slash" *ngIf="!hideConfirmPassword" aria-hidden="true"></i>
                                <i class="fa fa-eye" *ngIf="hideConfirmPassword" aria-hidden="true"></i>                                                                                        
                            </a>
                            <input [type]="hideConfirmPassword ? 'text' : 'password'" type="password" matInput formControlName="confirmPassword"
                                placeholder='Enter Confirm Password'>
                            <mat-error>
                                <app-error-message [errors]="f.confirmPassword.errors" [submitted]="fform.submitted"
                                    [touched]="f.confirmPassword.touched" [required]="errorMessage.mandatory" >
                                </app-error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                
               <div class="col-sm-12">
                    <div class="form-group mb-0" *blockUI="'resetPasswordBtnBlockUI'" >
                        <div class="btnCon text-center">
                            <button type="submit"  mat-raised-button class="btn">Submit</button>
                            <!-- <button type="submit" class="btn">{{languageJson?.resetPasswordPage?.resetPasswordBtn}}</button> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt-3">
                    <div class="form-group">
                        <div class="formLinkText"><a [routerLink]="['/'+ appUrl.HOME]">Back to Login</a></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>