<div #dynamicComponentContainer></div>
<div class="col-sm-12 material-card">
    <mat-card appMaterialElevation class="h-100">
        <mat-card-content>  
            <div class="row" *blockUI="'pageSectionBlockUI'">
                <div class="col-sm-12">
                    <div class="pageBoxCon">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="formBoxCon">
                                    <form [formGroup]="passwordManagmentForm" (ngSubmit)="updateSettings()" #fform="ngForm"
                                        id="updateResetPassword" novalidate>
                                        <div class="employeesGridCol sameHight mt-3">
                                            <div class="p-3">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="formBoxCol">
                                                            <h2 class="bold-black-heading">Password Change
                                                            </h2>
                                                            <div class="row">
                                                                <div class="col-sm-12 col-md-6 mb-50"
                                                                    *ngIf="isDefaultPasswordChangeRequired != undefined && isDefaultPasswordChangeRequired.value != undefined">
                                                                    <div class="form-group">
                                                                        <div class="radioList">
                                                                            <mat-label>A user is required to change their password when they login for the first time?</mat-label>
                                                                                <div class="radioList">
                                                                                    <mat-radio-group id="passwordchangeYes"
                                                                                        name="isDefaultPasswordChangeRequired"
                                                                                        formControlName="isDefaultPasswordChangeRequired"
                                                                                        [(ngModel)]="isDefaultPasswordChangeRequired.value">
                                                                                        <mat-radio-button for="passwordchangeYes"
                                                                                            value=1>Yes</mat-radio-button>
                                                                                        <mat-radio-button for="passwordchangeNo"
                                                                                            value=0>NO</mat-radio-button>
                                                                                    </mat-radio-group>
                                                                                </div>
                                                                        </div>                                                   
                                                                    </div>
                                                                </div>
            
                                                                <div class="col-sm-12 col-md-6"
                                                                    *ngIf="resetPassWord != undefined && resetPassWord.value != undefined">
                                                                    <div class="form-group">
                                                                        <mat-label>For how much long time reset password link will be valid?<sup>*</sup>
                                                                        </mat-label>
                                                                        <mat-form-field class="form-control-mat" floatLabel="never">
                                                                            <mat-select [(ngModel)]="resetPassWord" 
                                                                                formControlName="resetPassWord" placeholder="Select Reset Password Link Expire Time"
                                                                                name="resetPassWord" class="mat-input-element">
                                                                                <mat-option
                                                                                    *ngFor="let passwordlength of validResetPasswordLinkhTimeList"
                                                                                    [value]="passwordlength">
                                                                                    {{passwordlength.value}}
                                                                                </mat-option>
                                                                            </mat-select>  
                                                                            <mat-error>
                                                                                <app-error-message [errors]="f.resetPassWord.errors"
                                                                                    [submitted]="fform.submitted"
                                                                                    [touched]="f.resetPassWord.touched"
                                                                                    [required]="errorMessage.mandatory">
                                                                                </app-error-message>
                                                                            </mat-error>  
                                                                    </mat-form-field>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr/>
                                                    </div>
            
                                                    <div class="col-sm-12" *ngIf="isPasswordUsedValidationEnabled != undefined && isPasswordUsedValidationEnabled.value != undefined">
                                                        <div class="formBoxCol">
                                                            <h2 class="bold-black-heading">Password History
                                                            </h2>
                                                            <div class="row">
                                                                <div class="col-sm-12 col-md-6 mb-50">
                                                                    <div class="form-group">
                                                                        <label>Can user use their last used password ? </label>
                                                                        <div class="radioList">
                                                                            <mat-radio-group id="passwordHistoryYes"
                                                                                name="isPasswordUsedValidationEnabled"
                                                                                formControlName="isPasswordUsedValidationEnabled"
                                                                                [(ngModel)]="isPasswordUsedValidationEnabled.value"
                                                                                (change)="userCanResuseLastPassword()">
                                                                                <mat-radio-button for="passwordHistoryYes"
                                                                                    value=1>Yes</mat-radio-button>
                                                                                <mat-radio-button for="passwordHistoryNo"
                                                                                    value=0>NO</mat-radio-button>
                                                                            </mat-radio-group>
                                                                            <mat-error>
                                                                                <app-error-message [errors]="f.isPasswordUsedValidationEnabled.errors"
                                                                                    [submitted]="fform.submitted"
                                                                                    [touched]="f.isPasswordUsedValidationEnabled.touched"
                                                                                    [required]="errorMessage.mandatory">
                                                                                </app-error-message>
                                                                            </mat-error>                                                        
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12 col-md-6" *ngIf="isPasswordUsedValidationEnabled?.value == '1'">
                                                                    <div class="form-group">
                                                                        <mat-label> How many number of previous passwords you want to keep in history?
                                                                            <sup>*</sup>
                                                                        </mat-label>
                                                                        <mat-form-field class="form-control-mat" floatLabel="never">
                                                                            <mat-select [(ngModel)]="maxPasswordStoreCountPerUser" placeholder="Select Number of Previous Password Want Keep in History"
                                                                                formControlName="maxPasswordStoreCountPerUser"
                                                                                name="maxPasswordStoreCountPerUser" class="mat-input-element">
                                                                                <mat-option
                                                                                    *ngFor="let maxPasswordStoreCount of maxPasswordStoreLengthList"
                                                                                    [value]="maxPasswordStoreCount">
                                                                                    {{maxPasswordStoreCount.value}}
                                                                                </mat-option>
                                                                            </mat-select>  
                                                                            <mat-error>
                                                                                <app-error-message [errors]="f.maxPasswordStoreCountPerUser.errors"
                                                                                    [submitted]="fform.submitted"
                                                                                    [touched]="f.maxPasswordStoreCountPerUser.touched"
                                                                                    [required]="errorMessage.mandatory">
                                                                                </app-error-message>
                                                                            </mat-error>  
                                                                    </mat-form-field>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr/>
                                                    </div>
            
                                                    <div class="col-sm-12"
                                                        *ngIf="isPasswordExpirationNeeded != undefined && isPasswordExpirationNeeded.value != undefined">
                                                        <div class="formBoxCol">
                                                            <h2 class="bold-black-heading"> Password Expiration</h2>
                                                            <div class="row">
                                                                <div class="col-sm-12 col-md-6 mb-50">
                                                                    <div class="form-group">
                                                                        <label>Do you want to keep password expiration?
                                                                            <span class="tooltipBoxCon"><img src="assets/images/infoIcon.svg">
                                                                                <span class="tooltiptext">User must change their password after given amount of time.
                                                                                </span>
                                                                            </span>
                                                                        </label>
                                                                        <div class="radioList">
                                                                            <mat-radio-group id="passwordExpirationYes"
                                                                                name="isPasswordExpirationNeeded"
                                                                                formControlName="isPasswordExpirationNeeded"
                                                                                [(ngModel)]="isPasswordExpirationNeeded.value"
                                                                                (change)="userPasswordExpirationChange()">
                                                                                <mat-radio-button for="passwordExpirationYes"
                                                                                    value=1>Yes</mat-radio-button>
                                                                                <mat-radio-button for="passwordExpirationNo"
                                                                                    value=0>NO</mat-radio-button>
                                                                            </mat-radio-group>   
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12 col-md-6" *ngIf="isPasswordExpirationNeeded?.value == '1'">
                                                                    <div class="form-group">
                                                                        <mat-label>How long password is good for before it needs to be changed? <sup>*</sup></mat-label>
                                                                        <mat-form-field class="form-control-mat" floatLabel="never">
                                                                            <mat-select [(ngModel)]="passwordExpirationMaxAgeDays"
                                                                                formControlName="passwordExpirationMaxAgeDays" placeholder="Select Maximum Time of Password Expiration"
                                                                                name="passwordExpirationMaxAgeDays" class="mat-input-element">
                                                                                <mat-option
                                                                                    *ngFor="let passwordExpireDuration of passwordExpireDurationList"
                                                                                    [value]="passwordExpireDuration">
                                                                                    {{passwordExpireDuration.value}}
                                                                                </mat-option>
                                                                            </mat-select>  
                                                                            <mat-error>
                                                                                <app-error-message [errors]="f.passwordExpirationMaxAgeDays.errors"
                                                                                    [submitted]="fform.submitted"
                                                                                    [touched]="f.passwordExpirationMaxAgeDays.touched"
                                                                                    [required]="errorMessage.mandatory">
                                                                                </app-error-message>
                                                                            </mat-error>  
                                                                        </mat-form-field>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr/>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="formBoxCol">
                                                            <h2 class="bold-black-heading">Password Generation Format</h2>
                                                            <div class="row">
                                                            <div class="col-sm-12 col-md-6" *ngIf="passwordGenerationMinLength != undefined && passwordGenerationMinLength.value != undefined">
                                                                <div class="form-group">
                                                                    <mat-label> What will be the minimum length of the password?<sup>*</sup></mat-label>
                                                                    <mat-form-field class="form-control-mat" floatLabel="never">
                                                                        <mat-select [(ngModel)]="passwordGenerationMinLength"  formControlName="passwordGenerationMinLength"
                                                                            name="passwordGenerationMinLength" class="mat-input-element" placeholder="Select Minimum Length of Password">
                                                                            <mat-option *ngFor="let passwordlength of passwordMinLengthlist"
                                                                                [value]="passwordlength">{{passwordlength.value}}
                                                                            </mat-option>
                                                                        </mat-select>
                                                                        <mat-error>
                                                                            <app-error-message
                                                                                [errors]="f.passwordGenerationMinLength.errors"
                                                                                [submitted]="fform.submitted"
                                                                                [touched]="f.passwordGenerationMinLength.touched"
                                                                                [required]="errorMessage.mandatory">
                                                                            </app-error-message>
                                                                        </mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-6"
                                                                *ngIf="passwordGenerationMaxLength != undefined && passwordGenerationMaxLength.value != undefined">
                                                                <div class="form-group">
                                                                    <mat-label> What will be the maximum length of password? <sup>*</sup></mat-label>
                                                                    <mat-form-field class="form-control-mat" floatLabel="never">
                                                                        <mat-select [(ngModel)]="passwordGenerationMaxLength" formControlName="passwordGenerationMaxLength"
                                                                            name="passwordGenerationMaxLength" class="mat-input-element" placeholder="Select Maximum Length of Password">
                                                                            <mat-option *ngFor="let passwordlength of passwordLengthlist" [value]="passwordlength">
                                                                                {{passwordlength.value}}
                                                                            </mat-option>
                                                                        </mat-select>
                                                                        <mat-error>
                                                                            <app-error-message
                                                                                [errors]="f.passwordGenerationMaxLength.errors"
                                                                                [submitted]="fform.submitted"
                                                                                [touched]="f.passwordGenerationMaxLength.touched"
                                                                                [required]="errorMessage.mandatory">
                                                                            </app-error-message>
                                                                        </mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>   
                                                            <div class="col-sm-12 col-md-6"
                                                                *ngIf="isPasswordGenerationSyntaxEnabled != undefined && isPasswordGenerationSyntaxEnabled.value != undefined">
                                                                <div class="form-group">
                                                                    <div class="radioList">
                                                                        <mat-label>Do you want to enable any syntax checking? <sup>*</sup></mat-label>
                                                                        <div class="radioList">
                                                                            <mat-radio-group id="passwordGenerationSyntaxCheck"
                                                                                name="isPasswordGenerationSyntaxEnabled"
                                                                                formControlName="isPasswordGenerationSyntaxEnabled"
                                                                                [(ngModel)]="isPasswordGenerationSyntaxEnabled.value"
                                                                                (change)="userPasswordGenerationSyntaxCheckingChange()">
                                                                                <mat-radio-button for="passwordGenerationSyntaxCheckYes"
                                                                                    value=1>Yes</mat-radio-button>
                                                                                <mat-radio-button for="passwordGenerationSyntaxCheckNo"
                                                                                    value=0>NO</mat-radio-button>
                                                                            </mat-radio-group>
                                                                            <mat-error>
                                                                                <app-error-message [errors]="f.isPasswordGenerationSyntaxEnabled.errors"
                                                                                    [submitted]="fform.submitted"
                                                                                    [touched]="f.isPasswordGenerationSyntaxEnabled.touched"
                                                                                    [required]="errorMessage.mandatory">
                                                                                </app-error-message>
                                                                            </mat-error>
                                                                        </div>
                                                                    </div>                                                   
                                                                </div>
                                                            </div>                               
            
                                                            <div class="col-sm-12 col-md-6" *ngIf="isPasswordGenerationSyntaxEnabled?.value == '1'">
                                                                <div class="form-group">
                                                                    <mat-label> Minimum number of lower case letters used in user's password? <sup>*</sup> </mat-label>
                                                                    <mat-form-field class="form-control-mat" floatLabel="never">
                                                                        <mat-select formControlName="passwordGenerationMinLowerCaseAlphabets" name="passwordGenerationMinLowerCaseAlphabets" 
                                                                            [(ngModel)]="passwordGenerationMinLowerCaseAlphabets" class="mat-input-element" placeholder="Select Minimum Lowercase Used in User Password">
                                                                            <mat-option *ngFor="let minLowerCase of passwordGeneratioSyntaxLengthList"
                                                                            [value]="minLowerCase">
                                                                            {{minLowerCase.value}}
                                                                            </mat-option>
                                                                        </mat-select>
                                                                        <mat-error>
                                                                            <app-error-message
                                                                                [errors]="f.passwordGenerationMinLowerCaseAlphabets.errors"
                                                                                [submitted]="fform.submitted"
                                                                                [touched]="f.passwordGenerationMinLowerCaseAlphabets.touched"
                                                                                [required]="errorMessage.mandatory" >
                                                                            </app-error-message>
                                                                        </mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
            
                                                            <div class="col-sm-12 col-md-6" *ngIf="isPasswordGenerationSyntaxEnabled?.value == '1'">
                                                                <div class="form-group">
                                                                    <mat-label> Minimum number of upper case letters used in user's password? <sup>*</sup> </mat-label>
                                                                    <mat-form-field class="form-control-mat" floatLabel="never">
                                                                        <mat-select formControlName="passwordGenerationMinUpperCaseAlphabets" name="passwordGenerationMinUpperCaseAlphabets" 
                                                                            [(ngModel)]="passwordGenerationMinUpperCaseAlphabets" class="mat-input-element" placeholder="Select Minimum Uppercase Used in User Password">
                                                                            <mat-option *ngFor="let upperCaseAlphabet of passwordGeneratioSyntaxLengthList"
                                                                            [value]="upperCaseAlphabet">
                                                                            {{upperCaseAlphabet.value}}
                                                                            </mat-option>
                                                                        </mat-select>
                                                                        <mat-error>
                                                                            <app-error-message
                                                                                [errors]="f.passwordGenerationMinUpperCaseAlphabets.errors"
                                                                                [submitted]="fform.submitted"
                                                                                [touched]="f.passwordGenerationMinUpperCaseAlphabets.touched"
                                                                                [required]="errorMessage.mandatory" >
                                                                            </app-error-message>
                                                                        </mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-6" *ngIf="isPasswordGenerationSyntaxEnabled?.value == '1'">
                                                                <div class="form-group-mat">
                                                                    <mat-label> Minimum number of special characters used in user's password?<sup>*</sup></mat-label>
                                                                    <mat-form-field class="form-control-mat" floatLabel="never">
                                                                        <mat-select formControlName="passwordGenerationMinSpecialCharacters" name="passwordGenerationMinSpecialCharacters" 
                                                                            [(ngModel)]="passwordGenerationMinSpecialCharacters" class="mat-input-element" placeholder="Select Minimum Special Characters Used in User Password">
                                                                            <mat-option *ngFor="let minSpecialCharacter of passwordGeneratioSyntaxLengthList"
                                                                            [value]="minSpecialCharacter">
                                                                            {{minSpecialCharacter.value}}
                                                                            </mat-option>
                                                                        </mat-select>
                                                                        <mat-error>
                                                                            <app-error-message
                                                                                [errors]="f.passwordGenerationMinSpecialCharacters.errors"
                                                                                [submitted]="fform.submitted"
                                                                                [touched]="f.passwordGenerationMinSpecialCharacters.touched"
                                                                                [required]="errorMessage.mandatory" >
                                                                            </app-error-message>
                                                                        </mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
            
                                                            <div class="col-sm-12 col-md-6" *ngIf="isPasswordGenerationSyntaxEnabled?.value == '1'">
                                                                <div class="form-group">
                                                                    <mat-label> Minimum number of numbers used in user's password? <sup>*</sup></mat-label>
                                                                    <mat-form-field class="form-control-mat" floatLabel="never">
                                                                        <mat-select formControlName="passwordGenerationMinNumerics" name="passwordGenerationMinNumerics" 
                                                                            [(ngModel)]="passwordGenerationMinNumerics" class="mat-input-element" placeholder="Select Minimum Number of Numerics Used in User Password">
                                                                            <mat-option *ngFor="let minNumerics of passwordGeneratioSyntaxLengthList"
                                                                            [value]="minNumerics">
                                                                            {{minNumerics.value}}
                                                                            </mat-option>
                                                                        </mat-select>
                                                                        <mat-error>
                                                                            <app-error-message
                                                                                [errors]="f.passwordGenerationMinNumerics.errors"
                                                                                [submitted]="fform.submitted"
                                                                                [touched]="f.passwordGenerationMinNumerics.touched"
                                                                                [required]="errorMessage.mandatory" >
                                                                            </app-error-message>
                                                                        </mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
            
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12" *ngIf="isLockUserAccount != undefined && isLockUserAccount.value != undefined">
                                                        <div class="formBoxCol">
                                                            <h2>Account Lockout</h2>
                                                            <div class="row">
                                                                <div class="col-sm-12 col-md-6">
                                                                    <div class="form-group">
                                                                        <label>	Do you want to lock user's account if user tries to failed login attempts multiple time in a day?</label>
                                                                        <div class="radioList">
                                                                            <mat-radio-group id="lockUserAccountYes"
                                                                                name="isLockUserAccount"
                                                                                formControlName="isLockUserAccount"
                                                                                [(ngModel)]="isLockUserAccount.value"
                                                                                (change)= "userAccountLockoutChange()">
                                                                                <mat-radio-button for="lockUserAccountYes"
                                                                                    value=1>Yes</mat-radio-button>
                                                                                <mat-radio-button for="lockUserAccountNo"
                                                                                    value=0>NO</mat-radio-button>
                                                                            </mat-radio-group>                                              
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12 col-md-6" *ngIf="isLockUserAccount?.value == '1'">
                                                                    <div class="form-group">
                                                                        <mat-label>
                                                                            After how much failed attempt of login, a user account will be locked?
                                                                            <sup>*</sup>
                                                                        </mat-label>
                                                                        <mat-form-field class="form-control-mat" floatLabel="never">
                                                                            <mat-select [(ngModel)]="failedLoginAttemptCount" placeholder="Select Failed Attempt to Account Lock"
                                                                                formControlName="failedLoginAttemptCount"
                                                                                name="failedLoginAttemptCount" class="mat-input-element">
                                                                                <mat-option
                                                                                    *ngFor="let failedLoginAttempCount of failedLoginAttempLits"
                                                                                    [value]="failedLoginAttempCount">
                                                                                    {{failedLoginAttempCount.value}}
                                                                                </mat-option>
                                                                            </mat-select>  
                                                                            <mat-error>
                                                                                <app-error-message [errors]="f.failedLoginAttemptCount.errors"
                                                                                    [submitted]="fform.submitted"
                                                                                    [touched]="f.failedLoginAttemptCount.touched"
                                                                                    [required]="errorMessage.mandatory">
                                                                                </app-error-message>
                                                                            </mat-error>  
                                                                    </mat-form-field>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12 col-md-6" *ngIf="isLockUserAccount?.value == '1'">
                                                                    <div class="form-group">
                                                                        <mat-label>
                                                                            After how much time locked account will be unlocked?
                                                                            <sup>*</sup>
                                                                        </mat-label>
                                                                        <mat-form-field class="form-control-mat" floatLabel="never">
                                                                            <mat-select [(ngModel)]="unlockAccountTimeInHour" placeholder="Select Time for Account Lock"
                                                                                formControlName="unlockAccountTimeInHour"
                                                                                name="unlockAccountTimeInHour" class="mat-input-element">
                                                                                <mat-option
                                                                                    *ngFor="let accountLockTime of accountLockTimeList"
                                                                                    [value]="accountLockTime">
                                                                                    {{accountLockTime.value}}
                                                                                </mat-option>
                                                                            </mat-select>  
                                                                            <mat-error>
                                                                                <app-error-message [errors]="f.unlockAccountTimeInHour.errors"
                                                                                    [submitted]="fform.submitted"
                                                                                    [touched]="f.unlockAccountTimeInHour.touched"
                                                                                    [required]="errorMessage.mandatory">
                                                                                </app-error-message>
                                                                            </mat-error>  
                                                                    </mat-form-field>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="formBoxCol">
                                                            <div class="btnCon text-left mt-3">
                                                                <!-- <button type="button" class="btn bBtn mr-2">{{languageJson?.systemSettingsPage?.btnReset}}</button> -->
                                                                <span class="btnBlockUICon" *blockUI="'saveUpdateBlockUI'">
                                                                <button mat-button type="submit" mat-raised-button
                                                                    color="primary">Update</button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>