<div class="row">
    <!-- <div class="col-sm-12">
        <div class="breadcrumbCon">
            <ul class="breadcrumbUl">
                <li><a href="javascript:void(0)">Email Account</a></li>
                <li><a href="javascript:void(0)" >list</a></li>
            </ul>
        </div>
    </div> -->
    <div class="col-sm-12" >
        <div class="titleTabBoxCon" >
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4 align-self-center">
                    <div class="titleBoxCon">
                        <h1>Email Account</h1>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-8 d-flex align-self-center">
                    <ul class="filter-panel">
                        <li> <app-full-text-search [placeHolder] = "'Search By Name'" (fulltextsearch) = "fulltextsearch($event)"></app-full-text-search></li>
                        <li><div class="addNewBtnCon"><a *ngIf="accessRightsJson.isAccessRightAdd" (click)="add()" class="addNewBtn"><span class="material-icons-outlined">add</span></a> </div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-filter (filterListPassEvent)="filterList($event)" [apiUrl]='apiUrl' [pagination]='pagination'></app-filter> -->
<div #dynamicComponentContainer></div>
<app-list 
    [service]="notificationService"
    [columns]="columns" 
    (commonEventEmitterData)="getCommonEventEmitterFunction($event)"
    (removeSearchObjectEventEmitterData) = "removeSearchObjectEvent($event)"
    [accessRightsJson]="accessRightsJson"
>
</app-list>