<div #dynamicComponentContainer></div>
<div class="col-sm-12 material-card">
    <mat-card appMaterialElevation class="h-100">
        <mat-card-content>  
            <card-or-list-view #cardOrListViewComponent *blockUI="'listContainerBlockUi'"
                [listContainer]="listContainer" (addEventEmitter)="addEventEmitCall()"
                (searchEventEmitter)="searchEventEmitCall()" (addExport)="export()" [start]="start" [pageSize]="pageSize"
                [recordSize]="recordSize">
                <ng-template cardItem let-item>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 custom-col col-three-box1 material-card ">
                        <div class="h-100">
                            <mat-card appMaterialElevation class="h-100">
                                <!-- <span class="material-icons machine-status float-right success-msg"
                                    *ngIf="item.machineActivityStatus?.key == 1">
                                    circle
                                </span>
                                <span class="material-icons machine-status float-right warning-msg"
                                    *ngIf="item.machineActivityStatus?.key == 2">
                                    circle
                                </span>
                                <span class="material-icons machine-status float-right error-msg"
                                    *ngIf="item.machineActivityStatus?.key == 3">
                                    circle
                                </span> -->
                                <mat-card-header>
                                    <div class="title-date-box-con">
                                        <div class="title-date-box-left machine-card-header">
                                            <mat-card-title>
                                                <a class="cursor-pointer" #tooltip="matTooltip" matTooltipPosition="after"
                                                    matTooltip="{{item.machineId}}" (click)="view(item)">
                                                    Machine Id : {{item.machineId | slice:0:14}} {{item.machineId?.length > 14 ?
                                                    "..." : ""
                                                    }}</a><br>
                                                    <label style="font-size: small;font-weight:bold">Type :</label><label>{{item.machineType.value}}</label>
                                            </mat-card-title>
                                        </div>
                                        <ng-template #lastDateBlankTemplate>
                                            <div class="title-date-box-right company-details">
                                                <div class="d-flex">
            
                                                </div>
                                            </div>
                                        </ng-template>
                                        <div class="title-date-box-right company-details"
                                            *ngIf="item.transactionView?.dateStart;else lastDateBlankTemplate">
                                            <div class="d-flex">
                                                <span class="material-icons-outlined">event</span>
                                                <p>
                                                    <span class="card-ans">{{item.transactionView.dateStart * 1000 |
                                                        date:'medium'}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-header>
                                <hr>
                                <mat-card-content>
                                    <div class="machine-box-con">
                                        <!-- <div class="col-12 col-md-12">
                                            <div class="company-details mb-4" *ngIf="item.machineActivityStatus?.value">
                                                    <span style="font-weight: bold;">Technical Status: </span> <span>{{item.machineActivityStatus.value}}</span>
                                            </div>
                                        </div> -->
                                        <div class="col-12 col-md-12">
                                            <div class="row">
                                                <div class="col-md-4 text-center">
                                                    <div class="spinner-img progress-circle">
                                                        <div class="spinner-container basic-container">
                                                            <div class="spinner-background"><img
                                                                    src="assets/images/Plasticbottle.svg" />
                                                            </div>
                                                            <mat-progress-spinner #spinner
                                                                [ngClass]="{'mat-success' : item.patBottlePercentage < 50, 'mat-warning' : item.patBottlePercentage < 80 && item.patBottlePercentage > 50,'mat-error' : item.patBottlePercentage > 80 }"
                                                                [mode]="'determinate'" [value]="item.patBottlePercentage"
                                                                [diameter]="60" [strokeWidth]="4">
                                                            </mat-progress-spinner>
                                                        </div>
                                                    </div>
                                                    <h3 class="mb-0">
                                                        Plastic
                                                    </h3>
                                                    <p>
                                                        {{item.patBottlePercentage}}%
                                                    </p>
                                                </div>
                                                <div class="col-md-4 text-center">
                                                    <div class="spinner-img progress-circle">
                                                        <div class="spinner-container basic-container">
                                                            <div class="spinner-background"><img
                                                                    src="assets/images/Glassbottle.svg" />
                                                            </div>
                                                            <mat-progress-spinner #spinner
                                                                [ngClass]="{'mat-success' : item.glassBottlePercentage < 50, 'mat-warning' : item.glassBottlePercentage < 80 && item.glassBottlePercentage > 50,'mat-error' : item.glassBottlePercentage > 80 }"
                                                                [mode]="'determinate'" [value]="item.glassBottlePercentage"
                                                                [diameter]="60" [strokeWidth]="4">
                                                            </mat-progress-spinner>
                                                        </div>
                                                    </div>
                                                    <h3 class="mb-0">
                                                        Glass
                                                    </h3>
                                                    <p>
                                                        {{item.glassBottlePercentage}}%
                                                    </p>
                                                </div>
                                                <div class="col-md-4 text-center">
                                                    <div class="spinner-img progress-circle">
                                                        <div class="spinner-container basic-container">
                                                            <div class="spinner-background"><img
                                                                    src="assets/images/Aluminumbottle.svg" /></div>
                                                            <mat-progress-spinner #spinner
                                                                [ngClass]="{'mat-success' : item.aluBottlePercentage < 50, 'mat-warning' : item.aluBottlePercentage < 80 && item.aluBottlePercentage > 50,'mat-error' : item.aluBottlePercentage > 80 }"
                                                                [mode]="'determinate'" [value]="item.aluBottlePercentage"
                                                                [diameter]="60" [strokeWidth]="4">
                                                            </mat-progress-spinner>
                                                        </div>
                                                    </div>
                                                    <h3 class="mb-0">
                                                        Aluminium
                                                    </h3>
                                                    <p>
                                                        {{item.aluBottlePercentage}}%
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <hr *ngIf="item.customerView?.id">
                                        <div class="col-12 col-md-12" *ngIf="item.customerView?.id">
                                            <div class="allocated-client-detials">
                                                <h5 class="card-ans">Allocated Customer Details</h5>
                                                <p class="d-flex"><span
                                                        class="material-icons-outlined">person</span>{{item.customerView.name}}
                                                </p>
                                                <p class="d-flex"><span class="material-icons-outlined">room</span>
                                                    {{item.locationView?.address ? item.locationView?.address + ", " : ""}}
                                                    {{item.locationView?.area ? item.locationView?.area + " - " : ""}}
                                                    <ng-container *ngIf="item.locationView?.cityView; else cityNameTemplate">
                                                        {{item.locationView?.cityView?.value ? item.locationView?.cityView?.value +
                                                        " - " : ""}}
                                                    </ng-container>
                                                    <ng-template #cityNameTemplate>
                                                        {{item.locationView?.cityName ? item.locationView?.cityName + " - " : ""}}
                                                    </ng-template>
            
                                                    <ng-container *ngIf="item.locationView?.stateView; else stateNameTemplate">
                                                        {{item.locationView?.stateView?.value ? item.locationView?.stateView?.value
                                                        + " - " : ""}}
                                                    </ng-container>
                                                    <ng-template #stateNameTemplate>
                                                        {{item.locationView?.stateName ? item.locationView?.stateName + " - " : ""}}
                                                    </ng-template>
                                                    {{item.locationView?.pincode}}
                                                </p>
                                                <p class="d-flex"><span class="material-icons-outlined">business</span><b>Branch Name : </b> {{ item.locationView?.name}}</p>
                                                <p class="d-flex"><span class="material-icons-outlined">badge</span><b>Branch Number : </b> {{item.locationView?.branchNumber}}</p>
                                                <p class="d-flex"><span class="material-icons-outlined">badge</span><b>Branch Wise Machine Number : </b> {{item.branchMachineNumber}}</p>
                                                <p class="d-flex"><span class="material-icons-outlined">qr_code_2</span><b>Barcode Template Name - </b> {{ item.barcodeTemplateView?.name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-content>
            
                                <mat-card-actions>
                                    <div class="top-border"></div>
                                    <div class="card-action-section">
                                        <!-- <div class="card-action-drp">
                                            <ng-container *ngIf="listContainer.accessRightsJson.isAccessRightEdit && item.customerView?.name==undefined" >
                                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                                <mat-icon matBadgeColor="primary">more_vert</mat-icon>
                                            </button>
                                            </ng-container>
                                            <mat-menu #menu="matMenu" class="action-menu">
                                                <ng-container *ngIf="listContainer.accessRightsJson.isAccessRightEdit && item.customerView?.name==undefined" >
                                                
                                                </ng-container>
                                            </mat-menu>
                                        </div> -->
                                        <button mat-button *ngIf="listContainer.accessRightsJson.isAccessRightView"
                                            (click)="view(item)">View</button>
                                        <ng-container *ngIf="listContainer.accessRightsJson.isAccessRightEdit && item.customerView?.name==undefined" >
                                        <button mat-button *ngIf="listContainer.accessRightsJson.isAccessRightEdit"
                                            (click)="edit(item)">Edit</button>
            
                                            <button mat-button *ngIf="listContainer.accessRightsJson.isAccessRightEdit"
                                                    (click)="assign(item)">
                                                    <mat-icon><span class="material-icons-outlined">
                                                            shortcut
                                                        </span></mat-icon>
                                                    <span>Assign to</span>
                                                </button>
                                        </ng-container>
                                    </div>
                                </mat-card-actions>
                            </mat-card>
                        </div>
            
                    </div>
                </ng-template>
                <ng-template listItem let-items>
                    <div class="table-responsive" *ngIf="cardOrListViewComponent?.items != undefined">
                        <table mat-table class="mat-elevation-z8" class="table" [dataSource]="cardOrListViewComponent.items"  matSort (matSortChange)="sortData($event)" >
                            <thead>
                                <ng-container matColumnDef="machineId">
                                    <th mat-sort-header="machineId" id="machineId" class="width-15" mat-header-cell *matHeaderCellDef  style="color: black;font-weight: bold;font-size: medium;">
                                        Machine Id </th>
                                    <td mat-cell *matCellDef="let item">
                                        <span>{{item.machineId}}</span>
            
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="machineType">
                                    <th mat-sort-header="machineType" id="machineType" class="width-15" mat-header-cell *matHeaderCellDef  style="color: black;font-weight: bold;font-size: medium;">
                                        Machine Type </th>
                                    <td mat-cell *matCellDef="let item">
                                        <span>{{item.machineType.value}}</span>
            
                                    </td>
                                </ng-container>
                               <!--  <ng-container matColumnDef="status">
                                    <th  mat-sort-header="status" id="status" class="width-60" mat-header-cell *matHeaderCellDef  style="color: black;font-weight: bold;font-size: medium;">
                                        Technical Status </th>
                                    <td mat-cell *matCellDef="let item">
                                        <span>{{item.machineActivityStatus.value}}</span>
                                    </td>
                                </ng-container> -->
                                <!-- <ng-container matColumnDef="physicalStatus">
                                    <th mat-sort-header="physicalStatus" id="physicalStatus" class="width-60" mat-header-cell *matHeaderCellDef>
                                        Physical Status </th>
                                    <td mat-cell *matCellDef="let item">
                                        <span>{{item.machineDevelopmentStatus.value}}</span>
                                    </td>
                                </ng-container> -->
                                <ng-container matColumnDef="customerName">
                                    <th mat-sort-header="customerName" id="customerName" class="width-60" mat-header-cell *matHeaderCellDef  style="color: black;font-weight: bold;font-size: medium;">
                                        Customer Name </th>
                                    <td mat-cell *matCellDef="let item">
                                        <span>{{item.customerView?.name}}</span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="city">
                                    <th mat-sort-header="city" id="city" class="width-60" mat-header-cell *matHeaderCellDef  style="color: black;font-weight: bold;font-size: medium;">
                                        City </th>
                                    <td mat-cell *matCellDef="let item">
                                        <span>{{item.locationView?.cityView.value}}</span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="branchName">
                                    <th  mat-sort-header="branchName" id="branchName" class="width-60" mat-header-cell *matHeaderCellDef  style="color: black;font-weight: bold;font-size: medium;">
                                        Branch Name </th>
                                    <td mat-cell *matCellDef="let item">
                                        <span>{{item.locationView?.name}}</span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="branchId">
                                    <th  mat-sort-header="branchNumber" id="branchId" class="width-60" mat-header-cell *matHeaderCellDef  style="color: black;font-weight: bold;font-size: medium;">
                                        Branch Number </th>
                                    <td mat-cell *matCellDef="let item">
                                        <span>{{item.locationView?.branchNumber}}</span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="branchWiseMachineNumber">
                                    <th mat-sort-header="branchWiseMachineNumber" id="branchWiseMachineNumber" class="width-60" mat-header-cell *matHeaderCellDef  style="color: black;font-weight: bold;font-size: medium;">
                                        Branch Wise Machine Number </th>
                                    <td mat-cell *matCellDef="let item">
                                        <span>{{item?.branchMachineNumber}}</span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="barcodeTemplateName">
                                    <th mat-sort-header="barcodeTemplateName" id="barcodeTemplateName" class="width-60" mat-header-cell *matHeaderCellDef  style="color: black;font-weight: bold;font-size: medium;">
                                        Barcode Template Name </th>
                                    <td mat-cell *matCellDef="let item">
                                        <span>{{item.barcodeTemplateView?.name}}</span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="action">
                                    <th id="action" class="width-20" mat-header-cell *matHeaderCellDef  style="color: black;font-weight: bold;font-size: medium;">
                                        Action </th>
                                    <td mat-cell *matCellDef="let item">
                                        <ng-container *ngIf="listContainer.accessRightsJson.isAccessRightView">
                                            <button mat-icon-button (click)="view(item)" color="primary"  matTooltip="View Machine">
                                                <mat-icon>remove_red_eye</mat-icon>
                                            </button>
                                        </ng-container>
                                    <ng-container *ngIf="listContainer.accessRightsJson.isAccessRightView">
                                        <button mat-icon-button (click)="activeInactiveRowData(item)"  matTooltip="Active/InActive Machine">
                                            <mat-icon [ngClass]="item.active ? 'user-active-primary' : 'user-active-gray'">person_off</mat-icon>
                                        </button>
                                    </ng-container>
                                        <ng-container *ngIf="listContainer.accessRightsJson.isAccessRightEdit && item.customerView?.name==undefined" >
                                        <ng-container *ngIf="listContainer.accessRightsJson.isAccessRightEdit">
                                            <button mat-icon-button (click)="edit(item)" color="primary"  matTooltip="Edit Machine" >
                                                <mat-icon>mode_edit</mat-icon>
                                            </button>    
                                        </ng-container>
                                        </ng-container>
                                        <ng-container *ngIf="listContainer.accessRightsJson.isAccessRightEdit && item.customerView?.name==undefined" >
                                        <ng-container *ngIf="listContainer.accessRightsJson.isAccessRightEdit">
                                            <button mat-icon-button *ngIf="listContainer.accessRightsJson.isAccessRightEdit"
                                                (click)="assign(item)" color="primary" matTooltip="Assign Machine" >
                                                <mat-icon>shortcut</mat-icon>
                                            </button>
                                        </ng-container>
                                        </ng-container>
                                    </td>
                                </ng-container>
                            </thead>
            
                            <tbody>
                                <!-- <tr mat-header-row *matHeaderRowDef="['machineId','machineType','status','customerName','city','branchName','branchId','branchWiseMachineNumber','barcodeTemplateName','action']"> </tr>
                                <tr mat-row *matRowDef="let row; columns: ['machineId','machineType','status','customerName','city','branchName','branchId','branchWiseMachineNumber','barcodeTemplateName','action']"> </tr> -->

                                <tr mat-header-row *matHeaderRowDef="['machineId','machineType','customerName','city','branchName','branchId','branchWiseMachineNumber','barcodeTemplateName','action']"> </tr>
                                <tr mat-row *matRowDef="let row; columns: ['machineId','machineType','customerName','city','branchName','branchId','branchWiseMachineNumber','barcodeTemplateName','action']"> </tr>
                            </tbody>
            
                        </table>
                    </div>
                </ng-template>
            </card-or-list-view>
        </mat-card-content>
    </mat-card>
</div>