<ng-container>
    <div class="editBoxDataCon" [ngClass]="{'active': isOpenModel == true}">
        <div class="editBoxOpacityBg"></div>
        <div class="editBoxCon">
            <div class="editBoxFull">
                <div class="row">
                    <form #fform="ngForm" [formGroup]="changePassword" (ngSubmit)="onChangePasswordSubmit()">
                        <div class="col-sm-12">
                            <div class="editBoxFullTop">
                                <div class="editBoxTitle">
                                    <!-- <span class="editIconBox"><i class="fa fa-pencil"
                                            aria-hidden="true"></i></span> -->
                                            Change Password</div>
                                <a class="editBoxClose" (click)="closeModal()" href="javascript:void(0)">✖</a>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="editBoxgRidDesTextCon">
                                <div class="row">
                                    <div class="col-12 col-sm-12 ">
                                        <div class="editBoxEmployeesDetCon">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="editBoxMattersTasksCon">
                                                        <div class="row">
                                                            <div class="col-12 ">
                                                                <div class="form-group">
                                                                    <mat-label>Old Password</mat-label>
                                                                    <mat-form-field class="form-control-mat">
                                                                        <a href="javascript:void(0)"
                                                                            (click)="hideOldPassword = !hideOldPassword"
                                                                            class="showPassword">
                                                                            <i class="fa fa-eye-slash" *ngIf="!hideOldPassword" aria-hidden="true"></i>
                                                                            <i class="fa fa-eye" *ngIf="hideOldPassword" aria-hidden="true"></i>                                
                                                                        </a>
                                                                        <input [type]="hideOldPassword ? 'text' : 'password'"
                                                                            class="iconInput" matInput
                                                                            formControlName="oldPassword"
                                                                            placeholder='Enter Old Password' tabindex="1">
                                                                        <mat-error>
                                                                            <app-error-message [errors]="f.oldPassword.errors"
                                                                                [submitted]="fform.submitted"
                                                                                [touched]="f.oldPassword.touched"
                                                                                [required]="errorMessage.mandatory">
                                                                            </app-error-message>
                                                                        </mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 ">
                                                                <div class="form-group">
                                                                    <mat-label>New Password</mat-label>
                                                                    <mat-form-field class="form-control-mat">
                                                                        <a href="javascript:void(0)"
                                                                            (click)="hideNewPassword = !hideNewPassword"
                                                                            class="showPassword">
                                                                            <i class="fa fa-eye-slash" *ngIf="!hideNewPassword" aria-hidden="true"></i>
                                                                            <i class="fa fa-eye" *ngIf="hideNewPassword" aria-hidden="true"></i>                                
                                                                        </a>
                                                                        <input [type]="hideNewPassword ? 'text' : 'password'"
                                                                            class="iconInput" matInput
                                                                            formControlName="password"
                                                                            placeholder='Enter New Password' tabindex="2">
                                                                        <mat-error>
                                                                            <app-error-message [errors]="f.password.errors"
                                                                                [submitted]="fform.submitted"
                                                                                [touched]="f.password.touched"
                                                                                [required]="errorMessage.mandatory">
                                                                            </app-error-message>
                                                                        </mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <mat-label>Confirm New Password</mat-label>
                                                                    <mat-form-field class="form-control-mat">
                                                                        <a href="javascript:void(0)"
                                                                            (click)="hideConfirmPassword = !hideConfirmPassword"
                                                                            class="showPassword">
                                                                            <i class="fa fa-eye-slash" *ngIf="!hideConfirmPassword" aria-hidden="true"></i>
                                                                            <i class="fa fa-eye" *ngIf="hideConfirmPassword" aria-hidden="true"></i>                                    
                                                                        </a>
                                                                        <input
                                                                            [type]="hideConfirmPassword ? 'text' : 'password'"
                                                                            class="iconInput" matInput
                                                                            formControlName="confirmPassword"
                                                                            placeholder='Enter Confirm Password' tabindex="3">
                                                                        <mat-error>
                                                                            <app-error-message
                                                                                [errors]="f.confirmPassword.errors"
                                                                                [submitted]="fform.submitted"
                                                                                [touched]="f.confirmPassword.touched"
                                                                                [required]="errorMessage.mandatory">
                                                                            </app-error-message>
                                                                        </mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="btnCon text-left mt-3 fixed-botton">
                                                        <button type="submit" mat-raised-button color="primary" *blockUI="'saveUpdateBtnBlockUI'">Change Password</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-container>